<!DOCTYPE html>
<html>
  <head>
    <title>Student Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/admin/add-student" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <div>
        <label for="serialNumber">serialNumber:</label>
        <input type="text" name="serialNumber" id="serialNumber" required />
      </div>
      <div>
        <label for="fullName">Full Name:</label>
        <input type="text" name="fullName" id="fullName" required />
      </div>
      <div>
        <label for="roomNumber">Room Number:</label>
        <input type="text" name="roomNumber" id="roomNumber" required />
      </div>
      <div>
        <label for="branch">Branch:</label>
        <input type="text" name="branch" id="branch" required />
      </div>
      <div>
        <label for="batch">Batch:</label>
        <input type="text" name="batch" id="batch" required />
      </div>
      <div>
        <label for="gender">Gender:</label>
        <input type="text" name="gender" id="gender" required />
      </div>
      <div>
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" name="mobileNumber" id="mobileNumber" required />
      </div>
      <div>
        <label for="enrollmentNumber">Enrollment Number:</label>
        <input
          type="number"
          name="enrollmentNumber"
          id="enrollmentNumber"
          required
        />
      </div>
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
